h1 {
  text-align: center;
}

#featured-property {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

figcaption {
  font-size: smaller;
}

nav {
  text-align: center;
}

nav a {
  padding: 0 10px;
  background-color: gray;
}

#details>div {
  background-color: red;
  text-align: center;
  float: left;
  width: 25%;
}